* {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 600px;
  background-image: url('/images/background_image.jfif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;;
  margin-left: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}



