/*********Hero Section*************/

.content-container {
  width: 900px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-title-container {
  display: flex;
}

.content-title {
  font-size: 30px;
  color: white;
}

.projects-button {
  background-color: transparent;
  position: relative;
  right: 0;
  padding-top: 14px;
  border: none;
  cursor: pointer;
}

.content-projects-container {
  display: flex;
  font-size: 2vw;
  margin-top: 30px;
  /* opacity: 0; */
}

.content-projects-image {
  width: 100px;
  height: 80px;
  object-fit: contain;
  border-radius: 2px;
}

.card-description-li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.content-description-title {
  text-align: center;
}

.content-projects-description {
  font-size: 14px;
}

.is-showing {
  opacity: 1;
}


.content-projects-card {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 270px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  background-color: black;
  border-radius: 10px;
  margin-right: 10px;
  width: 20vw;
}

.content-projects-card:hover {
  color: rgb(148, 148, 148);
  border-color: white;
  box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.5);
  cursor: pointer;
  border-width: 1px;
}



.content-contact-button {
  opacity: 0;
}

.is-showing .content-contact-button {
  opacity: 1;
}

.content-contact-button {
  font-size: 20px;
  cursor: pointer;
  margin-top: 30px;
  color: yellow;
  background-color: black;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.content-contact-button:hover {
  color: black;
  background-color: yellow;
  box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.5);
}

@media screen and (max-width: 600px) {
  .content-container {
    width: 100%;
  }

  .content-projects {
    flex-direction: column;
  }

  .content-testing-projects,
  .content-frontend-projects {
    width: 100%;
    margin: 0;
  }
}
