@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.content-title {
  font-size: 30px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(40) 1s 1 normal both,
             blink-caret 0.75s steps(1) infinite;
}

@keyframes blink-caret {
  from, to {
    border-right: 2px solid transparent;
  }
  50% {
    border-color: white;
  }
}

.projects-button {
  position: relative;
  right: 0;
  padding-top: 14px;
  animation: fadeIn 1s 6s ease-in-out both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}